<div class="container mt-4" ng-controller="TareasController">
    <a href="#!/" class="btn btn-secondary mb-3">Volver</a>
    <div class="d-flex justify-content-center">
        <form ng-submit="actualizarTarea(tareaActualizada.Id)">
            <h2 class="mb-4">Editar Tarea</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Titulo*</span>
                <input type="text" ng-model="tareaActualizada.Titulo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Descripción*</span>
                <input type="text" ng-model="tareaActualizada.Descripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="form-group">
                <input type="checkbox" id="estado" ng-model="tareaActualizada.Estado" class="form-check-input">
                <label class="form-check-label" for="estado">Completada</label>
            </div>
            <button type="submit" class="btn btn-primary d-block">Editar</button>
        </form>
    </div>
    <div ng-if="alert" class="alert alert-{{alert.type}} mt-4 mb-4">{{alert.message}}</div>

</div>

